<main class="content">
  <header class="favorites-header">
    <h3 class="favorites-title">收藏的商品 ({{productAmount}})</h3>
    <div class ="btn-clear-wrapper">

      <button class="btn-clear-all" type="button" (click)="deleteList()">
        <lucide-icon [img]="Trash2Icon" size="18"></lucide-icon>
        <span>刪除商品</span>
      </button>
      @if(alert != '')
      {
        <p class="alert-msg">
          {{alert}}
        </p>
      }
    </div>
  </header>

  <ul class="favorites-list">
    @for (item of products; track $index) {
    <li class="favorite-item">
      <div class="item-prefix">
        <input type="checkbox" class="item-checkbox" [(ngModel)]="item.selected">
      </div>

      <div class="item-img">
        <!-- <img src=""
          alt="商品照片"> -->
      </div>

      <div class="product-info">
        <div class="product-header">
          <h5 class="item-title" [title]="item.title">{{item.title}}</h5>

          <div class="header-side-info">
            <span class="item-condition">{{item.condition}}</span>
            <div class="item-price">
              <span class="price-currency">$</span>
              <span class="price-amount">{{item.price}}</span>
            </div>
          </div>
        </div>

        <div class="item-description-wrapper">
          <p class="item-description">商品描述</p>
          <p class="item-description">{{item.description}}</p>
        </div>
      </div>

      <div class="item-content">

        <div class="seller-info">
          <div class="seller-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR54AYQT76piHk4cPNEzhiwKO9cqRr0nk2JSg&s"
             class="seller-avatar" alt="賣家頭像">
            <span class="seller-name">{{item.sellerName}}</span>
          </div>

          <button class="btn-chat" title="和同學聊聊!">
            <lucide-icon [img]="MessageCircleIcon" size="16"></lucide-icon>
          </button>
        </div>

        <div class="location-info">
          <lucide-icon [img]="GraduationCapIcon" size="14"></lucide-icon>
          <span>{{item.university}}學生</span>
        </div>
        <div class="location-info">
          <lucide-icon [img]="MapPinIcon" size="14"></lucide-icon>
          <span>{{item.location}}</span>
        </div>

      </div>



    </li>
    }
  </ul>

  <section class="favorites-reminder">
    <div class="reminder-icon">
      <lucide-icon [img]="HeartIcon"></lucide-icon>
    </div>
    <div class="reminder-text">
      <strong>小提醒</strong>
      <p>收藏的商品不代表保留，建議盡快聯繫賣家確認商品狀況！</p>
    </div>
  </section>
</main>
