<div class="top">
  <h3>個人資料</h3>
  <p>管理你在二手GO的公開資訊</p>
</div>

<div class="main_card">
  <div class="main_card_left">

    <p>更換頭像</p>
  </div>

  <div class="main_card_right">
    <div class="main_card_right_up">
      <p>名稱: </p>
      <h4>小名</h4>
    </div>

    <div class="main_card_right_dowm">
      <div class="main_card_1">
        <p>評分</p>
      </div>
      <div class="main_card_1">
        <p>交易數</p>
      </div>
      <div class="main_card_1">
        <p>目前上架</p>
      </div>
    </div>

  </div>
</div>

