@use '../../styles/variables' as *;

.search-bar-wrapper {
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e2e8f0;
  border-radius: 9999px;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.005);

  .text-search-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;

    .icon {
      color: $text-gray;
      display: flex;
      align-items: center;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      padding: 0 0.5rem;
      font-size: 0.9rem;
      background-color: transparent;
    }
  }

  .filter-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 6px;
    padding: 0.5rem;
    color: $text-gray;
    transition: ease 0.2s;

    p {
      margin: 0;
      font-size: 0.9rem;
    }

    &:hover {
      cursor: pointer;
      color: $primary-yellow-dark;
    }
  }

  lucide-icon {
    display: flex;
    align-items: center;
  }


}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
