<div class="search-bar-wrapper">
  <div class="text-search-wrapper">
    <lucide-icon [img]="SearchIcon" class="icon" (click)="onSearch()"></lucide-icon>
    <input type="text"
      placeholder="商品名稱、地區、商品種類等關鍵字..."
      [(ngModel)]="keyword"
      (keyup.enter)="onSearch()">
  </div>

  <div class="filter-item" (click)="toggleFilter()">
    <lucide-icon [img]="FilterIcon" class="icon" size="17"></lucide-icon>
    <p>更多篩選條件</p>
  </div>

  @if (isFilterOpen) {
     <app-search-panel (closePanel)="isFilterOpen = false"></app-search-panel>
  }
</div>
