
<nav>
  <!-- <button (click) = "onMenuBtnClick()" class="menu"> -->
  <button class="menu">
    <input type="checkbox"
    [checked]="isSidebarOpen"
    (click)="sidebarSwitch($event)"
    (keyup.esc)="closeSidebar($event)">
    <lucide-icon [img]="MenuIcon"></lucide-icon>
  </button>



  <!-- <h3 class="logo">logo</h3> -->
   <img src="img/logo改版.png"
   alt="logo"
   class="logo"
   title="首頁"
   (click) = "goToHome()">

  <app-search-bar class="search"></app-search-bar>

  @if (isLogIn()) {
    <app-user-actions class="cta"></app-user-actions>
  }
  @else
  {
    <app-login-btn class="cta"></app-login-btn>
  }

</nav>
@if (isSidebarOpen) {
  <div class="sidebar-backdrop" (click)="sidebarSwitch($event)"></div>
  <div class="sidebar-container">
    <app-side-nav></app-side-nav>
  </div>
}
