<div class="side-wrapper">
  <ul class="nav-list">


    <!-- 回總覽頁面 -->
    <!-- <li class="nav-item">
      <button class="nav-link"
       routerLink="/back_index" routerLinkActive="active">
        <lucide-icon [name]="HomeIcon"></lucide-icon>
        <span>首頁</span>
      </button>
    </li> -->

    <!-- 用戶管理 -->
    <li class="nav-item">
      <button class="nav-link"(click)="goToUser()"
      routerLink="/back_user" routerLinkActive="active">
        <lucide-icon [name]="UserIcon"></lucide-icon>
        <span>用戶管理</span>
      </button>
    </li>

    <!-- 商品管理 -->
    <!-- <li class="nav-item">
      <button class="nav-link" (click)="goToProduct()">
        <lucide-icon [name]="HandbagIcon"></lucide-icon>
        <span>商品管理</span>
      </button>
    </li> -->

    <!-- 公告通知 -->
    <li class="nav-item">
      <button class="nav-link" (click)="goToAnnouncement()"
       routerLinkActive="active" routerLink="/announcement">
        <lucide-icon [name]="BellIcon"></lucide-icon>
        <span>公告通知</span>
      </button>
    </li>

    <!-- 爭議處理 -->
    <li class="nav-item">
      <button class="nav-link" (click)="goToReport()"
       routerLinkActive="active" routerLink="/report">
        <lucide-icon [name]="LibraIcon"></lucide-icon>
        <span>爭議處理</span>
      </button>
    </li>

    <!-- 登出處理 -->
    <li class="nav-item">
      <button class="nav-link" (click)="logout()">
        <lucide-icon [name]="LogoutIcon"></lucide-icon>
        <span>登出</span>
      </button>
    </li>
  </ul>
</div>
