<main class="chat-container">
  <div class="chat-box">
    <!-- logo -->
    <section class="chat-left">
      <section class="chat-head" (click)="goBack()">
        <lucide-icon name="ArrowLeft" class="last-page" type="button" title="回上一頁" size="21"></lucide-icon>
        <p>聊天室</p>
      </section>

      <!-- 搜尋 -->
      <div class="search-bar-wrapper">
        <div class="text-search-wrapper">
          <lucide-icon name="Search" class="icon"></lucide-icon>
          <input type="text" placeholder="使用者名稱﹑ID..." [(ngModel)]="keyword">
        </div>
      </div>

      <!-- 聊天對象 -->
      <div class="partner">
        @for (partner of filteredRoomList; track partner.roomId) {
        <div class="partner-wrapper" (click)="changePartner(partner)" [class.isChatting]="partner.roomId === roomId">
          <img [src]="partner.targetUserImg" class="avatar" alt="user-avatar">

          <div class="partner-info">
            <span class="name"> {{ partner.targetUserName }} </span>
            <span class="lastMessage"> {{ partner.lastMessage }} </span>
            @if (partner.unreadCount > 0) { <div> {{ partner.unreadCount }} </div> }
          </div>
        </div>
        }@empty {
        <div class="no-result">找不到相符的聊天對象</div>
        }
      </div>

    </section>

    <!-- 聊天區塊 -->
    <section class="chat-right">
      <section class="chat-header">
        <p class="partner-name">{{currentPartnerName || '請選擇聊天對象'}}</p>
      </section>
      <!-- 商品資訊 -->
      @if (product) {
      <div class="product">
        <p class="ask">目前正在詢問：</p>
        <div class="product-summary-card">

          <img [src]="product.imgPath[0]" alt="商品圖片" class="product-thumb" />
          <div class="product-info">
            <h4>{{ product.productName }}</h4>
            <p class="price">${{ product.price }}</p>
          </div>

          <button type="button" class="btn-view-product" (click)="goProduct(product.productId)">查看商品</button>

        </div>
      </div>
      }

      <!-- 訊息 -->
      <div #scrollContainer class="message-list">
        @for (msg of message; track msg.messageId) {
        <div class="message-wrapper" [class.is-me]="msg.senderId === userId">

          <img [src]="msg.senderImg" class="avatar" alt="user-avatar">

          <div class="message-body">
            <span class="name">{{ msg.senderName }}</span>
            <div class="bubble">
              <!-- 圖片訊息 -->
              @if (isImageMessage(msg.messageContent)) {
              <div class="chat-image-gallery">
                @for (url of msg.messageContent.split(','); track url) {
                <img [src]="url" class="chat-shared-img" alt="圖片訊息" (click)="openLightBox(url)" />
                }
              </div>
              <!-- 點擊圖片放大 -->
              @if (activeImageUrl) {
              <div class="lightbox-overlay" (click)="closeLightBox()">
                <button class="lightbox-close-btn" (click)="closeLightBox()">✕</button>
                <div class="lightbox-content" (click)="$event.stopPropagation()">
                  <img [src]="activeImageUrl" alt="放大圖片" class="lightbox-img" />
                </div>
              </div>
              }
              } @else {
              <!-- 一般文字訊息 -->
              {{ msg.messageContent }}
              }
            </div>
            @if (msg.read && msg.senderId === userId) { <span> ✔️ 已讀 </span>}
            <span class="time">{{ msg.createdAt }}</span>
          </div>

        </div>
        } @empty {
        <div class="no-message-empty-state">
          <div class="empty-icon-circle">
            <lucide-icon name="MessageCircleMore" class="empty-icon" size="36"></lucide-icon>
          </div>

          <h3>還沒有聊天內容</h3>
          <p>從左側選擇聊天室後，就可以開始傳送訊息。</p>

          <!-- <button type="button" class="btn-select-partner">請選擇聊天對象</button> -->
        </div>
        }

        <!-- 已上傳圖片的預覽 -->
        @if(pictures.length > 0) {
        <div class="preview-list">
          @for (preview of pictures; track $index) {
          <div class="preview-item">
            <img [src]="preview" alt="圖片預覽" class="preview-img" />
            <button type="button" class="btn-action report" (click)="removeImage($index)">
              <lucide-icon name="Trash2"></lucide-icon>
            </button>
          </div>
          }
          <button class="sendPic" (click)="sendPic()">送出圖片</button>
        </div>
        }
        @if (errorMessage) { <small class=" error-msg">{{ errorMessage }}</small> }
      </div>

      @if (roomId != null) {
      <div class="input-group-box">
        <!-- 圖片上傳 -->
        <div class="upload" (click)="fileInput.click()">
          <input type="file" #fileInput accept="image/*" style="display: none" (change)="uploadPicture($event)" />
          <lucide-icon name="Paperclip" class="icon"></lucide-icon>
        </div>

        <input type="text" [(ngModel)]="enter" (keyup.enter)="sendMsg()" class="enter-input" placeholder="請輸入訊息...">
        <button class="send-btn" (click)="sendMsg()">送出</button>
      </div>
      }
    </section>
  </div>
</main>