<section class="wrapper">

  <div class="content">

    <div class="group">

      <h5>
        加入我們，輕鬆買賣你的校園好物
      </h5>

      <button class="cta reg" (click)="goToRegister()">立即註冊</button>

    </div>

    <div class="group">

      <p class="hint">已經有帳號了？</p>

      <button class="cta login" (click)="goToSigninPage()">立即登入</button>

    </div>

  </div>

  <div class="close-wrapper" data-bs-theme="dark">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeBar()">
    </button>
  </div>

</section>
