<main class="container py-5">

  <!-- 賣家資訊區 -->
  <section class="row information">

    <!-- 頭貼 -->
    <div class="col-md-2 userImg">
      <figure class="user-img">
        <img [src]=shopOwnerData()?.imgPath alt="大頭貼" width="300" height="300" />
      </figure>
      <small>賣家 ID： {{shopOwnerData()?.userId}}</small>
    </div>

    <!-- 基本資料 -->
    <div class="col-md-4 profile-list">
      <div class="userName">
        <p><lucide-icon [name]="User"></lucide-icon>賣家名稱：{{shopOwnerData()?.userName}}</p>
        @if (isGood) {
        <div class="ThumbsUp" [title]="'沒想好寫什麼，之後可能改hover，現在這樣有點醜。'">
          <lucide-icon [name]="ThumbsUp"></lucide-icon>
          信譽良好
        </div>
        }
      </div>
      <p> <lucide-icon [name]="MapPin"></lucide-icon>常出沒地區： {{formattedLocation}}</p>
      <p> <lucide-icon [name]="School"></lucide-icon>就讀學校： {{shopOwnerData()?.school}}</p>
      <p> <lucide-icon [name]="School"></lucide-icon>就讀學群/科系： {{shopOwnerData()?.department || '未填寫'}}</p>
      <p> <lucide-icon [name]="Mail"></lucide-icon>賣家 email： {{shopOwnerData()?.userEmail}}</p>
      <p> <lucide-icon [name]="Phone"></lucide-icon>手機： {{shopOwnerData()?.phone || '未填寫'}}</p>
    </div>

    <!-- 簡介 + 聊聊按鈕 -->
    <div class="col-md-6 intro-block">
      <label class="introduction">簡介：</label>
      <p>{{shopOwnerData()?.msg}}</p>
      <div class="introBtn">
        @if (!isOwner) {
        <button class="btn-action primary" (click)="chat()">
          <lucide-icon [name]="MessageCircleMore"></lucide-icon>聊聊
        </button>
        <button class="btn-action report" (click)="goRepot()">
          <lucide-icon [name]="Flag"></lucide-icon>檢舉
        </button>
        } @else {
        <button class="btn-action primary" (click)="goSettings()">
          <lucide-icon [name]="Pencil"></lucide-icon>編輯個人資料
        </button>
        }
      </div>
    </div>

  </section>

  <!-- 上架商品區 -->
  <section class="products-section">
    <header class="products-header">
      @if (isOwner) {
      <span class="section-title">我上架的商品</span>
      <div class="edit">
        <button class="btn-action primary" (click)="manageProduct()">
          <lucide-icon [name]="Pencil"></lucide-icon>
          商品管理
        </button>
        <button class="btn-action primary" (click)="goLaunchProduct()">
          <lucide-icon [name]="Plus"></lucide-icon>
          新增商品
        </button>
      </div>
      } @else {<span class="section-title">上架商品</span>}

    </header>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for (item of products ; track $index) {
      <div class="col">
        <div class="card" (click)="goProductPage()">
          <!-- 左側圖片 -->
          <figure class="img-wrapper">
            <img [src]=item.imgPath[0] class="" alt="商品圖片">
          </figure>
          <!-- 右側內容 -->
          <div class="card-body">
            <div>
              <h5 class="name">{{item.productName}}</h5>
              <p class="desc">{{item.description}}</p>
            </div>
            <div class="card-bottom">
              <span class="price">${{item.price}}</span>

              @if (!isOwner) {
              <button class="btn-icon-action" (click)="goCollectProduct(); $event.stopPropagation()">
                <lucide-icon [name]="HeartPlus" [title]="'收藏該商品'"></lucide-icon>
              </button>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </section>

  <!-- 分頁 -->
  <nav class="pagination">
    <span>共{{ allProducts.length }}筆資料</span>
    <button class="page-btn" [disabled]="pagination.currentPage === 1" (click)="prevPage()">
      <lucide-icon [name]="ChevronLeft"></lucide-icon>
    </button>
    @for (page of pagination.pageNumbers; track page) {
    <button class="page-btn" [class.active]="page === pagination.currentPage" (click)="goToPage(page)">
      {{ page }}
    </button>
    }
    <button class="page-btn" [disabled]="pagination.currentPage === pagination.totalPages" (click)="nextPage()">
      <lucide-icon [name]="ChevronRight"></lucide-icon>
    </button>
  </nav>

</main>