<main class="container py-5">

  <!-- 賣家資訊區 -->
  <section class="row information">

    <!-- 頭貼 -->
    <div class="col-md-2">
      <figure class="user-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyz9M0k9ziX8SKisx9t8So1s4Ya8bI1RyaEA&s"
          alt="大頭貼" width="300" height="300" />
      </figure>
    </div>

    <!-- 基本資料 -->
    <div class="col-md-4 profile-list">
      <div class="userName">
        <p><lucide-icon [name]="User"></lucide-icon>賣家名稱：</p>
        @if (isGood) {
        <div class="ThumbsUp">
          <lucide-icon [name]="ThumbsUp"></lucide-icon>
          信譽良好
        </div>
        }
      </div>
      <p> <lucide-icon [name]="BookText"></lucide-icon>賣家 ID： </p>
      <p> <lucide-icon [name]="MapPin"></lucide-icon>所在地區： </p>
      <p> <lucide-icon [name]="School"></lucide-icon>學校： </p>
      <p> <lucide-icon [name]="School"></lucide-icon>學群/科系： </p>
    </div>

    <!-- 簡介 + 聊聊按鈕 -->
    <div class="col-md-6 intro-block">
      <label class="introduction">簡介：</label>
      <p>這是一段簡介。</p>
      <div class="introBtn">
        @if (!isOwner) {
        <button class="btn-action primary">
          <lucide-icon [name]="MessageCircleMore"></lucide-icon>聊聊
        </button>
        <button class="btn-action report" (click)="goRepot()">
          <lucide-icon [name]="Flag"></lucide-icon>檢舉
        </button>
        } @else {
        <button class="btn-action primary" (click)="goSettings()">
          <lucide-icon [name]="Pencil"></lucide-icon>編輯個人資料
        </button>
        }
      </div>
    </div>

  </section>

  <!-- 上架商品區 -->
  <section class="products-section">
    <header class="products-header">
      @if (isOwner) {
      <span class="section-title">我上架的商品</span>
      <div class="edit">
        <button class="btn-action primary" (click)="manageProduct()">
          <lucide-icon [name]="Pencil"></lucide-icon>
          商品管理
        </button>
        <button class="btn-action primary" (click)="goLaunchProduct()">
          <lucide-icon [name]="Plus"></lucide-icon>
          新增商品
        </button>
      </div>
      } @else {<span class="section-title">上架商品</span>}

    </header>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for (item of [1, 2, 3, 4, 5, 6]; track $index) {
      <div class="col">
        <div class="card" (click)="goProductPage()">
          <!-- 左側圖片 -->
          <figure class="img-wrapper">
            <img
              src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Apple_apple_airpods_pro_2_0907194607052_640x480.jpg"
              class="card-img-top" alt="商品圖片">
          </figure>
          <!-- 右側內容 -->
          <div class="card-body">
            <div>
              <h5 class="name">AirPods (第二代)</h5>
              <p class="desc">使用狀況良好，功能正常，含充電盒。</p>
            </div>
            <div class="card-bottom">
              <span class="price">$180</span>

              @if (!isOwner) {
              <button class="btn-icon-action" (click)="goCollectProduct()">
                <lucide-icon [name]="HeartPlus"></lucide-icon>
              </button>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </section>

  <!-- 分頁 -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <span>共{{totalElements}}筆資料</span>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" aria-label="Previous" (click)="goToPage(currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      @for (p of pages; track p) {
      <li class="page-item" [class.active]="currentPage === p">
        <a class="page-link" (click)="goToPage(p)">{{ p }}</a>
      </li>
      }
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" aria-label="Next" (click)="goToPage(currentPage + 1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

</main>