@use '../../styles/variables' as *;

.variable{
  display: none;
  visibility: hidden;
}

// app.component.scss
:host {
  display: block; // 改成 block，讓內容自然向下延伸
  width: 100%;
  height: auto;   // 不要鎖死高度
}

.main-content {
  display: flex;
  width: 100%;

  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

  justify-content: space-around;


}

main{
  flex:1;
}

.father{
  position: absolute;
  width: stretch;
}

.header{
  position: sticky;
  z-index: 9999;
}
