@use '../../styles/variables' as *;

.variable{
  display: none;
  visibility: hidden;
}

// app.component.scss
:host {
  display: block; // 改成 block，讓內容自然向下延伸
  width: 100%;
  height: auto;   // 不要鎖死高度
}

.main-content {
  display: flex;
  width: 100%;
  // 移除 flex: 1，因為不再需要強制撐滿視窗剩餘空間
}
