@use '../../styles/variables' as *;

.variable{
  display: none;
  visibility: hidden;
}

// app.component.scss
:host {
  display: block; // 改成 block，讓內容自然向下延伸
  width: 100%;
  height: auto;   // 不要鎖死高度
}

.main-content {
  display: flex;
  width: 100%;

  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

  justify-content: space-around;


}

main{
  flex:1;
}

.father{
  position: absolute;
  width: stretch;
}

.header{
  position: sticky;
  z-index: 9999;
}

.scrollToTop{
  position: fixed;
  bottom: 5rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $primary-yellow;
  border-radius: 50%;
  border: none;

  width: 3rem;
  height: 3rem;

  padding: 0.25rem;
  z-index: 999999;

  box-shadow: 0 0 12px 1px rgba($color: #000000, $alpha: 0.1);
  transition: 0.3s ease;

  &:hover{
    background-color: $background-yellow-hover;
  }
  &:active
  {
    background-color: $background-yellow-active;
    transform: scale(1.1);
  }
}

lucide-icon{
  display: flex;
  align-items: center;
}
