<main class="content">
  <section class="top-wrapper">

    <nav class="breadcrumb">
      <a routerLink="/home" class="breadcrumb-link">
        <lucide-icon [name]="HomeIcon" size="14"></lucide-icon>
        首頁
      </a>
      <span class="sep">></span>
      <span class="current">{{ universityName }}</span>
    </nav>

    <header class="list-header">
          <h1 class="university-name">{{ universityName }}</h1>
          <button>關注</button>
          <input type="text" placeholder="在校版中搜尋商品">



    </header>

    <nav class="panel-nav">
          <ul class="sub-list">
            <li>
              <button class="sub-link" (click)="goToSchoolProduct()" [class.active]="">
                <span class="sub-panel-text">校內商品</span>
              </button>
            </li>

            <li>
              <button class="sub-link" (click)="goToClassmates()" [class.active]="">
                    <span class="sub-panel-text">版上的同學</span>
                  </button>
                </li>

                <li>
                  <button class="sub-link" (click)="goToClassmates()" [class.active]="">
                    <span class="sub-panel-text">校園許願池</span>
                  </button>
                </li>

                <li>
                  <button class="sub-link" (click)="goToClassmates()" [class.active]="">
                    <span class="sub-panel-text">哈啦吐槽區</span>
                  </button>
                </li>

          </ul>
    </nav>

  </section>

  <router-outlet></router-outlet>

</main>
