@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.content {
  @include common-layout;
}

a {
  @include reset-link;
}

lucide-icon { display: flex; align-items: center; }

.top-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.breadcrumb {
  margin-top: 1.5rem;
  @include breadcrumb-style;
}

.list-header{
  display: flex;
  gap: 1rem
}

.university-name{
  @include main-title-style;
}

.sort-container {
  @include sort-style;
}

.dropdown-content {
  @include dropdown-style;
}

.panel-nav{
  display: flex;
  justify-content: space-evenly;
  @include borded-nav;
}

.filter-row {
  @include filter-style;
}

.filter-tag {
  @include active-tag;
}
