@use './app/styles/variables' as *;

/* You can add global styles to this file, and also import other style files */
/* 請確認這段是在 src/styles.scss 裡 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; // 讓 body 可以被內容撐開
  overflow-y: auto; // 確保瀏覽器層級出現滾輪
  overflow-x: hidden; // 防止左右晃動
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* 關鍵：Inter 寫前面，Noto Sans TC 寫後面 */
  font-family: "Inter", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: white;
  overflow-x: hidden;
}


// NGX-SLIDER 主色覆寫
.ngx-slider {
  .ngx-slider-selection {
    background: $primary-yellow !important;
  }

  .ngx-slider-pointer {
    background-color: $primary-yellow !important;

    &::after {
      background-color: white !important;
    }
  }

  .ngx-slider-tick.ngx-slider-selected {
    background: $primary-yellow !important;
  }
}