/* You can add global styles to this file, and also import other style files */
/* 請確認這段是在 src/styles.scss 裡 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;      // 讓 body 可以被內容撐開
  overflow-y: auto;  // 確保瀏覽器層級出現滾輪
  overflow-x: hidden; // 防止左右晃動
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
   /* 關鍵：Inter 寫前面，Noto Sans TC 寫後面 */
  font-family: "Inter", "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.custom-orange-snackbar {
  .mdc-snackbar__surface {
    background-color: #775D3F !important; // 妳的棕色變數 $text-price
    border-radius: 8px !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }

  // --- 針對「知道了」按鈕改色 ---
  .mat-mdc-snack-bar-action {
    // 這裡強制修改按鈕內的 label 文字顏色
    .mdc-button__label {
      color: #F7D175 !important; // 換成妳的主色黃，這樣在棕色背景上會很美！
      font-weight: bold;
    }

    // 如果妳想連按鈕的 ripple (點擊水波紋) 顏色都改掉
    --mat-mdc-snack-bar-button-color: #F7D175;
  }
}
