<main class="content">
  <nav class="filter-panel">
    <div class="site-path">
      <span class="breadcrumb">
        <lucide-icon [name]="HomeIcon" size="16"></lucide-icon>
        首頁 > {{ categoryName }}</span>
    </div>

    <header class="list-header">
        <!-- <div class="subtitle">
          <h5>
            <mark>
              {{ categoryName }}
            </mark>
          </h5>
        </div> -->
      <h1 class="category-name">{{ categoryName }}</h1>

      <!-- 排序方式 -->
        <div class="sort-container">
          <button class="sort-button"
          (click)="togglePanel($event, 'sort')">
            <span>排序依據</span>
            <span class="material-symbols-outlined">
            sort
            </span>
          </button>

          @if (panelState.sort) {
            <ul id="dropdown-list" class="dropdown-content" (click)="$event.stopPropagation()">
              <li>最新上架</li>
              <li>價格由低到高</li>
              <li>價格由高到低</li>
            </ul>
          }
        </div>
    </header>



    <!-- 熱門分類 -->
    <!-- <div class="hot-categories">
      <h5>常用分類</h5>
      <ul>
        <li><button class="btn-tag">電腦</button></li>
        <li><button class="btn-tag">筆電</button></li>
        <li><button class="btn-tag">行充</button></li>
      </ul>
    </div> -->

    <!-- 篩選清單 -->
    <ul class="filter-groups">
      <!-- 排序 -->
      <li>
        <div class="rearrange" title="清空篩選條件">
          <lucide-icon [img]="RotateCcwIcon" size="24"></lucide-icon>
        </div>
      </li>

      <!-- 價格篩選 -->
      <li>
        <button class="filter-btn"
        [class.active]="priceLabel !== '價格區間'"
        (click)="togglePanel($event, 'price')">
          {{ priceLabel }}
        </button>
        @if(panelState.price){
        <div class="slider-container" (click)="$event.stopPropagation()">
          <ngx-slider [(value)]="priceValue" [(highValue)]="priceHighValue" [options]="priceOptions"></ngx-slider>
          <div class="range-label">${{priceValue}} - ${{priceHighValue}}</div>
        </div>
        }
      </li>

      <!-- 商品狀況 -->
      <li>
        <select class="filter-select">
          <option value="">商品新舊程度</option>
          <option value="new">全新</option>
          <option value="near-new">近全新</option>
          <option value="lightly-used">輕度使用</option>
          <option value="used">中度使用</option>
          <option value="heavily-used">重度使用</option>
        </select>
      </li>

      <!-- 賣家評價 -->
      <li>
        <button class="filter-btn"
        (click)="togglePanel($event, 'grade')"
        [class.active]="gradeLabel !== '賣家評價'">
          {{ gradeLabel }}
        </button>
        @if(panelState.grade == true){
        <div class="slider-container" (click)="$event.stopPropagation()">
          <ngx-slider [(value)]="sellerGrade" [options]="sellerGradeOptions"></ngx-slider>
        </div>
        }
      </li>

      <!-- 地區複選 -->
      <li>
        <button
        (click)="togglePanel($event, 'location')"
        [class.active]="locationLabel !== '地區'">
        {{ locationLabel }}
        </button>
        @if (panelState.location) {

          <div class="checkbox-group" (click)="$event.stopPropagation()">
            @for(city of cities; track city.id){
            <label class="checkbox-item">
              <input type="checkbox" [(ngModel)]="city.selected" (change)="onCityChange()">
              {{ city.name }}
            </label>
            }
          </div>
        }
      </li>

      <!-- 校系篩選 -->
      <li>
        <button
        (click)="togglePanel($event, 'school')"
        [class.active]="schoolLabel !== '科系類別'">
        {{ schoolLabel }}
        </button>
        @if (panelState.school) {
          <!-- 科系 -->
          <div class="checkbox-group" (click)="$event.stopPropagation()">
            @for(depts of department; track $index){
            <label class="checkbox-item">
              <input type="checkbox" [(ngModel)]="depts.selected" (change)="onDeptChange()">
              {{ depts.name }}
            </label>
            }
          </div>
        }


      </li>
    </ul>
  </nav>



  <app-product-card [products]="pagedProducts"></app-product-card>

   <!-- Pagination -->
  <div class="pagination">
    <button class="page-btn" [disabled]="pagination.currentPage === 1" (click)="prevPage()">
      <lucide-icon [name]="prevIcon"></lucide-icon>
    </button>
    @for (page of pagination.pageNumbers; track page) {
      <button class="page-btn" [class.active]="page === pagination.currentPage" (click)="goToPage(page)">
        {{ page }}
      </button>
    }
    <button class="page-btn" [disabled]="pagination.currentPage === pagination.totalPages" (click)="nextPage()">
      <lucide-icon [name]="nextIcon"></lucide-icon>
    </button>
  </div>
</main>

