<main class="product-list-layout">
  <nav class="">
    <h1 class="category-name">{{categoryName}}</h1>
    <span>首頁 > {{categoryName}}</span>
    <div class="">
      <h5>熱門分類</h5>
      <ul>
        <li><button>電腦</button></li>
        <li><button>筆電</button></li>
        <li><button>行充</button></li>
      </ul>
    </div>

    <ul>
      <li>
        <div class="rearrange">
          <lucide-icon [img]="ArrowUpDownIcon" size="18" title="排序"></lucide-icon>
        </div>
      </li>
      <li>
        <button>價格</button>
      </li>
      <li>
        <select name="" id="">
          <option >商品狀況</option>
          <option value="">全新</option>
          <option value="">九成新</option>
          <option value="">二手</option>
          <option value="">三手</option>
        </select>
      </li>
      <li>價格</li>
      <li><button>優良賣家</button></li>
      <li>地區</li>
    </ul>

  </nav>
  <section>
    <!-- boostrap card -->
  </section>
</main>
