@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.type-nav {
  @include borded-nav;
}

// 針對手機版最佳化
@media (max-width: 768px) {
  .sub-list {
    gap: 1.2rem;
  }
  .sub-link {
    font-size: 0.9rem;
    padding: 0.6rem 0.1rem;
  }
}

// =========================================================
// 基礎
// =========================================================


.content {
  @include common-layout;
}

a {
  @include reset-link;
}

lucide-icon { display: flex; align-items: center; }


// =========================================================
// 篩選面板（nav 容器）
// =========================================================

.filter-panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.breadcrumb {
  @include breadcrumb-style;
}

// 標題列
.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
  }
}


.category-name {
  @include main-title-style;
}

// =========================================================
// 排序下拉
// =========================================================

.sort-container {
  @include sort-style;
}


.dropdown-content {
  @include dropdown-style;
}

// =========================================================
// 篩選列（篩選按鈕 + tags 同一行）
// =========================================================

.filter-row {
  margin-bottom: 1rem;
  @include filter-btn-style ;
}

.filter-tag {
  @include active-tag;
}

.tag-remove{
  @include tag-remove;
}

.tag-clear-all{
  @include tag-clear-all;
}

// =========================================================
// Overlay
// =========================================================

.sidebar-overlay {
  @include overlay-undernav-style;
}

// =========================================================
// 篩選側邊欄
// =========================================================

.filter-sidebar {
  @include filter-sidebar;
}


// =========================================================
// 分頁
// =========================================================

.pagination {
  @include pagination;
}


// =========================================================
// 找不到結果
// =========================================================
.empty-state {
  @include empty-state;
}



