<div class="container py-5">
  <h1 class="page-title">訂單資料 / 交易清單</h1>

  <!-- tabs -->
  <div>
    <ul class="nav nav-tabs custom-tabs">
      <li class="nav-item">
        <button class="nav-link" [class.active]="currentTab === '全部'" (click)="changeTab('全部')">全部訂單</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="currentTab === '交易中'" (click)="changeTab('交易中')">交易中</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="currentTab === '已完成'" (click)="changeTab('已完成')">已完成</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [class.active]="currentTab === '已取消'" (click)="changeTab('已取消')">已取消</button>
      </li>
    </ul>
  </div>

  <!-- 資料頁 -->
  <div class="order-card">
    <div class="order-header">
      <div class="order-info">
        <span class="order-no">訂單編號：ORD202405160001</span>
        <span class="order-date">下單時間：2024/05/16 14:32</span>
      </div>
      <div class="order-amount">訂單金額：<span class="price">$180</span></div>
    </div>

    <div class="order-body">
      <div class="row align-items-center">
        <div class="col-md-2">
          <div class="product-img">
            <img
              src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Apple_apple_airpods_pro_2_0907194607052_640x480.jpg"
              alt="商品" />
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-content">
            <h5 class="name">AirPods (第二代)</h5>
            <p class="seller">賣家：小麗的生活選物 <lucide-icon [name]="MessageCircleMore" (click)="chat()"></lucide-icon></p>
            <div class="details">
              <p class="unit-price">$180</p>
              <p class="qty">數量：1</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="delivery-status">
            <div class="status-tag">
              <lucide-icon [name]="CircleCheckBig"></lucide-icon> 已完成
            </div>
            <p>交易已完成，感謝您的購買！</p>
            <button class="btn-action outline">查看評價</button>
          </div>
        </div>

        <div class="col-md-3">
          <div class="button-group">
            <button class="btn-action primary" (click)="buyAgain()">
              再次購買
            </button>
            <button class="btn-action outline">聯絡賣家</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 分頁 -->
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <span>共5筆資料</span>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" aria-label="Previous" (click)="goToPage(currentPage - 1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        @for (p of [1, 2, 3]; track p) {
        <li class="page-item" [class.active]="currentPage === p">
          <a class="page-link" (click)="goToPage(p)">{{ p }}</a>
        </li>
        }
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" aria-label="Next" (click)="goToPage(currentPage + 1)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>