<main class="container ">
  <h3 class="page-title">訂單資料 / 交易清單</h3>

  <!-- tabs -->
  <nav class="type-nav">
    <ul class="sub-list">
      @for (tab of tabsColumns; track tab){
      <li class="nav-item">
        <button class="sub-link" [class.active]="currentTab === tab" (click)="changeTab(tab)">{{tab}}</button>
      </li>
      }
    </ul>
  </nav>

  <!-- role 切換 -->
  <div class="role-toggle">
    @for (role of roleColumns; track role) {
    <button class="role-btn" [class.active]="currentRole === role" [class.btn-buyer]="role === '我購買的'"
      [class.btn-seller]="role === '我販售的'" (click)="changeRole(role)">
      {{ role }}
    </button>
    }
  </div>

  <!-- 資料頁 -->
  @for (order of filteredOrders(); track order.orderId) {
  <section class="order-card" [class.card-buyer]="order.myRole === '買家'" [class.card-seller]="order.myRole === '賣家'">
    <header class="order-header">
      <div class="order-info">
        <span class="order-no">訂單編號：{{ order.orderId }}</span>
        <span class="order-date">下單時間：{{ order.createDate }}</span>
      </div>
    </header>

    <div class="order-body">
      <div class="row align-items-center">
        <!-- 商品圖片 -->
        <div class="col-md-2">
          <figure class="product-img">
            <img [src]="order.imgPath" [alt]="order.productName" />
          </figure>
        </div>

        <!-- 商品資訊 -->
        <div class="col-md-3">
          <div class="product-content">
            <h5 class="name">{{ order.productName }}</h5>
            <span class="seller" (click)="goStore(order)" [title]="'點擊查看更多資訊'">
              {{ order.partnerRole }}：{{ order.partnerName }}</span>
            <lucide-icon class="msg" name="MessageCircleMore" (click)="chat(); $event.stopPropagation()"
              [title]="'聊聊'"></lucide-icon>
            <div class="details">
              <p class="unit-price">${{ order.price }}</p>
            </div>
          </div>
        </div>

        <!-- 訂單狀態 -->
        <div class="col-md-4 ">
          <div class="delivery-status">
            <!-- 狀態標籤 -->
            @if (order.status === '完成交易') {
            <div class="status-tag completed">
              <lucide-icon name="CircleCheckBig"></lucide-icon>交易已完成
            </div>
            <p>交易已完成，感謝您的使用！</p>
            }
            @if (order.status === '交易中') {
            <div class="status-tag in-progress">
              <lucide-icon name="CircleDollarSign"></lucide-icon>交易進行中
            </div>
            <p>交易進行中，請耐心等候。</p>
            }
            @if (order.status === '請求回應中' && order.myRole === '買家') {
            <div class="status-tag pending">
              <lucide-icon name="CircleEllipsis"></lucide-icon>等待回應中
            </div>
            <p>等待對方回應，請稍候。</p>
            <div class="button-group">
              <button class="btn-action outline" (click)="canaelOrder(order)">取消訂單請求</button>
            </div>
            }
            @if (order.status === '請求回應中' && order.myRole === '賣家') {
            <div class="status-tag pending">
              <lucide-icon name="CircleEllipsis"></lucide-icon>對方正等待回應中
            </div>
            <p>對方正焦急等待中...</p>
            <div class="button-group">
              <button class="btn-action outline" (click)="acceptOrder(order)">同意該筆交易</button>
            </div>
            }
            @if (order.status === '已取消') {
            <div class="status-tag cancelled">
              <lucide-icon name="CircleX"></lucide-icon>已取消
            </div>
            <p>交易已取消。</p>

            }

            @if (order.status === '完成交易') {
            <div class="button-group">
              @if (order.givenRank) {
              <button class="btn-action outline" (click)="viewReview(order)">查看評價</button>
              } @else {
              <button class="btn-action outline" (click)="submitReview(order)">進行評分</button>
              }
            </div>
            }
          </div>
        </div>

        <div class="col-md-3">
          <div class="button-group">
            @if (order.status === '交易中' && order.myRole === '買家' && order.buyerCheck !== true) {
            <button class="btn-action primary" (click)="confirmComplete(order)">完成交易</button>
            }

            @if (order.status === '交易中' && order.myRole === '賣家' && order.sellerCheck !== true) {
            <button class="btn-action primary" (click)="confirmComplete(order)">完成交易</button>
            }
            @if (order.status === '交易中' &&
            ((order.myRole === '買家' && order.buyerCheck === true) ||
            (order.myRole === '賣家' && order.sellerCheck === true))) {
            <button class="btn-action disable">已確認，等待對方回應...</button>

            }

            @if (order.status !== '已取消') {
            <button class="btn-action outline" (click)="chat()" [title]="'聊聊'">
              聯絡{{ order.partnerRole }}
            </button>
            }

            @if (order.status !== '請求回應中') {
            <button class="btn-action report" (click)="goRepot(order)">檢舉</button>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  }

  @if (filteredOrders().length > 0) {
  <!-- 分頁 -->
  <nav class="pagination">
    <span>共{{ allOrders.length }}筆資料</span>
    <button class="page-btn" [disabled]="pagination.currentPage === 1" (click)="prevPage()">
      <lucide-icon name="ChevronLeft"></lucide-icon>
    </button>
    @for (page of pagination.pageNumbers; track page) {
    <button class="page-btn" [class.active]="page === pagination.currentPage" (click)="goToPage(page)">
      {{ page }}
    </button>
    }
    <button class="page-btn" [disabled]="pagination.currentPage === pagination.totalPages" (click)="nextPage()">
      <lucide-icon name="ChevronRight"></lucide-icon>
    </button>
  </nav>
  }

  <!-- 無資料提示 -->
  @if (filteredOrders().length === 0) {
  <section class="empty-state">

    <div class="empty-icon-wrapper">
      <span class="material-symbols-outlined">search_off</span>
    </div>

    <div class="empty-content">
      <h2>找不到相關訂單</h2>
      <!-- <p class="empty-description"> -->
      <!-- 我們找不到符合 <span>"{{ searchReq.keyword }}"</span> 的結果，請嘗試其他關鍵字。 -->
      <!-- </p> -->
    </div>

  </section>
  }

</main>