@use "../../styles/variables" as *;

.container {
  max-width: 1400px;
  user-select: none;
}

// tabs
.nav-link {
  border: none;
  font-weight: bold;
  color: $text-gray;
  padding: 10px 20px;
  &.active {
    color: $primary-yellow;
    border-bottom: 3px solid $primary-yellow;
  }
}

// 檢舉對象
.report-target {
  display: flex;
  flex-direction: column;
}

// input框
.report-input {
  flex: 1;
  padding: 10px;
  border: 1px solid $neutral-300;
  border-radius: 8px;
}

// 問題描述
.report-description {
  display: flex;
  flex-direction: column;
}

.btn-group {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  gap: 20px;
}

// 通用按鈕封裝
.btn-action {
  width: 20%;
  padding: 8px 16px;
  border-radius: $border-radius-lg;
  font-size: $font-size-base;
  border: 1px solid $neutral-300;
  transition: all 0.3s;

  &.primary {
    background-color: $background-yellow;
    color: $primary-yellow-darker;
    border-color: $primary-yellow;
    &:hover {
      background: $primary-yellow-dark;
      color: $background-white;
    }
  }

  &.outline {
    background: $background-white;
    color: $text-gray;
    &:hover {
      background: $neutral-300;
    }
  }

  &.report {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid rgba(#c62828, 0.1);

    lucide-icon {
      color: #c62828;
    }

    &:hover {
      background-color: #c62828;
      color: $background-white;
      transform: translateY(-2px);
      lucide-icon {
        color: $background-white;
      }
    }
  }
}
